.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.title {
  font-size: 30px;
  font-weight: bold;
  min-width: 300px;
}

.description {
  border: 1px solid #f73737;
  border-radius: 30px;
  width: 80%;
  margin: 4px 0px;
  display: flex;
  flex-direction: column;
}

.table {
  width: 60%;
  margin: 20px auto;
}

.table table {
  width: 100%;
  border: 1px solid #ccc;
}

.table th,
.table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #f4f4f4;
  font-size: 20px;
  text-align: center;
}

.table td {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table td:hover {
  background-color: #f1f1f1;
}
